<div class="w-full max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="flex justify-between items-center mb-8">
    <h1 class="font-bold text-3xl text-gray-900">Explora alojamientos</h1>
    <div class="mb-8 bg-white p-4 rounded-xl shadow-sm border border-gray-100">
    <%= form_with url: properties_path, method: :get, class: "flex flex-col sm:flex-row gap-4" do |f| %>
      <div class="flex-1">
        <%= f.text_field :location, 
            placeholder: "¿A dónde vas? (Ej: Santiago, Curacaví...)", 
            value: params[:location], 
            class: "w-full rounded-lg border-gray-300 focus:border-blue-500 focus:ring-blue-500 py-3" %>
      </div>
      
      <%= f.submit "Buscar", class: "bg-blue-600 text-white px-8 py-3 rounded-lg font-medium hover:bg-blue-700 cursor-pointer transition" %>
      
      <% if params[:location].present? %>
        <%= link_to "Limpiar", properties_path, class: "bg-gray-100 text-gray-700 px-6 py-3 rounded-lg font-medium hover:bg-gray-200 transition text-center flex items-center" %>
      <% end %>
    <% end %>
  </div>
    <%= link_to "Nueva Propiedad", new_property_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="properties" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    <% @properties.each do |property| %>
      <%= render property %>
    <% end %>
  </div>
</div>